In [1]:
import pandas as pd

from data_scraper.main import request_data_from_sravni

In [8]:
# получаем данные
banks_df, offers_df = request_data_from_sravni()

2025-01-07 19:20:44,357 - INFO - Make Request ...
2025-01-07 19:20:46,804 - INFO - Get JSON -> Success!
2025-01-07 19:20:46,805 - INFO - Parse JSON ...
2025-01-07 19:20:46,810 - INFO - Parse JSON -> Success!
2025-01-07 19:20:46,816 - INFO - Data Preprocessing ...
2025-01-07 19:20:46,829 - INFO - Data Preprocessing -> Success!

In [11]:
banks_df.head()

,name,rate,online_rate,term,amount_from,amount_to,offer_count,final_rate,date
0,Транскапиталбанк,23.9,0.00,180 дней,100000,3000000.0,3,23.9,2025-01-07 19:20:46.827763
1,Локо-Банк,23.5,0.00,182 дня,300000,5000000.0,1,23.5,2025-01-07 19:20:46.827763
2,Банк ДОМ.РФ,22.7,0.00,181 день,10000,15000000.0,6,22.7,2025-01-07 19:20:46.827763
3,Газпромбанк,24.0,0.01,от 1 дня,1,1500000.0,0,24.0,2025-01-07 19:20:46.827763
4,Альфа-Банк,20.0,20.00,от 1 дня,1,1500000.0,0,20.0,2025-01-07 19:20:46.827763

In [13]:
offers_df.head()

,bank_name,rate,online_rate,term,amount_from,amount_to,final_rate,date
0,Транскапиталбанк,23.25,0.0,365 дней,100000,3000000.0,23.25,2025-01-07 19:20:46.828786
1,Транскапиталбанк,22.20,0.0,90 дней,100000,3000000.0,22.20,2025-01-07 19:20:46.828786
2,Транскапиталбанк,10.25,0.0,1110 дней,100000,3000000.0,10.25,2025-01-07 19:20:46.828786
3,Локо-Банк,22.50,0.0,370 дней,300000,5000000.0,22.50,2025-01-07 19:20:46.828786
4,Банк ДОМ.РФ,22.40,0.0,91 день,10000,15000000.0,22.40,2025-01-07 19:20:46.828786

In [14]:
memory_usage_a = offers_df.memory_usage(deep=True).sum()
print(f"Размер DataFrame в памяти: {memory_usage_a / 1024:.2f} KB")

memory_usage_b = banks_df.memory_usage(deep=True).sum()
print(f"Размер DataFrame в памяти: {memory_usage_b / 1024:.2f} KB")

total_mem_usage_kb = (memory_usage_a + memory_usage_b)
total_mem_usage_kb

Размер DataFrame в памяти: 197.87 KB
Размер DataFrame в памяти: 47.73 KB

np.int64(251494)

In [16]:
# сохраянем данные
banks_df.to_excel('./scraped_data/banks.xlsx')
offers_df.to_excel('./scraped_data/offers.xlsx')